body {
    margin: 0px;
    background-color: antiquewhite;
}

.navBar1 {
    background-color: rgb(19, 25, 33);
    height: 60px;

}

.location {
    height: 60px;
}

.browser {
    height: 55px;
}

.English {
    height: 55px;
    margin-right: 0px;
}

.navBar2 {
    background-color: rgb(35, 47, 62);
    height: 40px;
    margin-top: 0px;
}
.all{
    height: 38px;
    display: inline-block;
    vertical-align: middle;
}
.categories1 p{
    margin: 0px;
}
 .categories1{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    color:  rgb(255, 255, 255);
    font-size: 14px;
    display: inline-block;
 }
 .categories1 a {
    text-decoration: none;   
    color: white;
}
.categories2 p{
    margin: 0px;
}
 .categories2{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    color:  rgb(255, 255, 255);
    font-size: 14px;
    display: inline-block;
 }
.categories2 a {
    text-decoration: none;   
    color: white;
}


.hk {
    position: relative;
    width: 100%;
}

.hk img {
    width: 100%;
    display: block;
}

.hk .arrow1 {
    position: absolute;
    top: 20%;
    right: 50px;
    color: white;
    font-size: 50px;
    text-decoration: none;
}

.hk .arrow2 {
    position: absolute;
    top: 20%;
    left:  50px;
    color: white;
    font-size: 50px;
    text-decoration: none;
}

.cards1{
    margin-top: -340px;
   padding-left: 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.card1{
    background-color: white;
    width:23% ;
    padding-left:20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 20px;

}
.cookie{
    width: 300px;
    align-content: center;
    padding-bottom: 15px;
}
.discover{
    font-size: 13px;
    text-decoration: none;
    color: rgb(33, 98, 161);
}

.cards2{
    margin-top: 20px;
   padding-left: 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.card2{
    background-color: white;
    width:23% ;
    padding-left:20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 20px;
}

.long{
    padding: 20px;
}
.long1{
    width: 100%;
    display: block;
}

.long2{
    margin-top: 20px;
    background-color: white;
    width:100% ;
    padding-left:20px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-right: 20px;
}
.toy{
    width: 100%;
    display: block;
}
.back{
    background-color: rgb(55, 71, 90);
    padding: 10px;
    text-align: center;
}
.top{
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.bottom1{
    width: 100%;
    display: block;
}