body {
    margin: 0px;
    background-color: antiquewhite;
}

.navBar1 {
    background-color: rgb(19, 25, 33);
    height: 60px;
    width: 100%;
    min-width: 1000px;

}

.location{
    height: 45px;
   margin-top: 5px;
   margin-left: 20px;
}

.English {
    height: 55px;
    margin-right: 0px;
}

.headerWrapper {
    display: flex;
    justify-content: space-between;
}

#searchBar {
    /* outline: 1px yellow solid; */
    display: inline-block;
    width: 50%;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

#searchBar div {
    /* outline:1px rgb(255, 4, 0) solid; */
    display: inline-block;
    margin-top: 10px;
    height: 36px;

}

.searchDropdown {
    width: 50px;
    color: rgb(91, 89, 89);
    vertical-align: top;
    background-color: rgb(223, 225, 227);
    height: 35px;
    margin: 0;
    position: relative;
    border-radius: 3px 0 0 3px;
}

.searchDropdown p {
    font-size: 12px;
    margin: 0;
    text-align: center;
    position: absolute;
    top: 10px;
    left: 8px;
}

.searchInput {
    width: 100%;
    vertical-align: top;
    padding-left: 0px;
    padding-right: 0px;
}

.searchInput input {
    width: 100%;
    height: 30px;
    font-size: 14px;
}

.searchSubmit {
    width: 50px;
    margin: 0;
}

.browser {
    height: 37px;
}


.navBar {
    height: 55px;
}

.navBar2 {
    background-color: rgb(35, 47, 62);
    height: 40px;
    margin-top: 0px;
    overflow-x: scroll;
}

.all {
    height: 38px;
    display: inline-block;
    vertical-align: middle;
}

.categories1 p {
    margin: 0px;
}

.categories1 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    display: inline-block;
}

.categories1 a {
    text-decoration: none;
    color: white;
}

.categories2 p {
    margin: 0px;
}

.categories2 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    display: inline-block;
}

.categories3 a {
    text-decoration: none;
    color: white;
}

.categories3 :hover {
    color: rgb(216, 93, 232);
}

.categories3 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    display: inline-block;
}
.cards1 {
    margin-top: -340px;
    padding-left: 20px;
    position: relative;
    display: flex;
}

.card1 {
    background-color: white;
    width: 23%;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 20px;

}

.cookie {
    width: 100%;
    align-content: center;
    padding-bottom: 10px;
}

.discover {
    font-size: 13px;
     text-decoration: none;
    color: rgb(33, 98, 161);

}

.discover:hover{
    color: rgb(243, 200, 8);
}

.cards2 {
    margin-top: 20px;
    padding-left: 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.card2 {
    background-color: white;
    width: 23%;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 20px;
}

.long {
    margin: 20px;
}

.long1 {
    width: 100%;
    display: block;
}

.long2 {
    /* outline: 1px blue solid; */
    margin-top: 20px;
    background-color: white;
    width: 98.5%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.toy {
    width: 100%;
    display: block;
}

.back {
    background-color: rgb(55, 71, 90);
    padding: 10px;
    text-align: center;
}

.top {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.top:hover{
    color: rgb(216, 93, 232);
}

.bottom1 {
    width: 100%;
    display: block;
}


#mainContainer {
    position: relative;
    padding-top: 260px;
}

/* ADS */

.ads {
    position: absolute;
    top: 0px;
    left: 0px;
}

.hk1 {
    position: relative;
    width: 100%;
    z-index: -1;
}

.hk img {
    width: 100%;
    display: block;
}

.arrow1 {
    position: absolute;
    top: 20%;
    right: 50px;
    color: white;
    font-size: 50px;
    text-decoration: none;
}

.arrow2 {
    position: absolute;
    top: 20%;
    left: 50px;
    color: white;
    font-size: 50px;
    text-decoration: none;
}
.arrow1:hover{
    color: rgb(55, 71, 90);
}

.arrow2:hover{
    color: rgb(55, 71, 90);
}


.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: flex-start;
}

.singleCardWrapper {
    width: 100px;
    width: 25%;
    max-width: 330px;
    min-width: 200px;
    padding: 10px;
    box-sizing: border-box;
    margin: 5px;
}

.card {
    background-color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: 95%;
}

.cardnine {
    display: none;
}

@media (max-width: 1360px) {
    .cardnine {
        display: block;
    }
}


@media (max-width: 630px) {
    .cardnine {
        display: none;
    }
}