body {
    margin: 0;
}

.navBar1 {
    background-color: rgb(19, 25, 33);
    height: 60px;
    width: 100%;
    min-width: 1000px;

}

.location{
    height: 45px;
   margin-top: 5px;
   margin-left: 20px;
}

.English {
    height: 55px;
    margin-right: 0px;
}

.headerWrapper {
    display: flex;
    justify-content: space-between;
}

#searchBar {
    /* outline: 1px yellow solid; */
    display: inline-block;
    width: 50%;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

#searchBar div {
    /* outline:1px rgb(255, 4, 0) solid; */
    display: inline-block;
    margin-top: 10px;
    height: 36px;

}

.searchDropdown {
    width: 50px;
    color: rgb(91, 89, 89);
    vertical-align: top;
    background-color: rgb(223, 225, 227);
    height: 35px;
    margin: 0;
    position: relative;
    border-radius: 3px 0 0 3px;
}

.searchDropdown p {
    font-size: 12px;
    margin: 0;
    text-align: center;
    position: absolute;
    top: 10px;
    left: 8px;
}

.searchInput {
    width: 100%;
    vertical-align: top;
    padding-left: 0px;
    padding-right: 0px;
}

.searchInput input {
    width: 100%;
    height: 30px;
    font-size: 14px;
}

.searchSubmit {
    width: 50px;
    margin: 0;
}

.browser {
    height: 37px;
}


.navBar {
    height: 55px;
}

.navBar2 {
    background-color: rgb(35, 47, 62);
    height: 40px;
    margin-top: 0px;
    overflow-x: scroll;
}

.all {
    height: 38px;
    display: inline-block;
    vertical-align: middle;
}

.categories1 p {
    margin: 0px;
}

.categories1 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    display: inline-block;
}

.categories1 a {
    text-decoration: none;
    color: white;
}


.categories2 p {
    margin: 0px;
}

.categories2 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    display: inline-block;
}





.lol {
    width: 100%;
}

.sideBar {
    position: absolute;
    /* outline: black 1px solid; */
    width: 245px;
    height: 1628px;
    text-align: start;
    font-size: 14px;
    padding-left: 30px;
    padding-top: 10px;
    top: 145px;
}

.idea :hover {
    color: rgb(200, 122, 12);
}

.idea {
    /* outline: 1px blue solid; */
    padding-top: 5px;
}

.idea p {
    margin: 0;
}

.seeMore p {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgb(33, 98, 161);
}

.review {
    padding-top: 5px;
}

.review p {
    margin: 0;
    color: orange;
}

.other {
    padding-top: 5px;
}

.p {
    margin-top: 5px;
    width: 100%;
    margin-left: -12px;
}

.mainbox {
    display: flex;
    width: 100%;
}


.bottom {
    margin-left: 10px;
    border: 1px solid orange;
    background-color: orange;
    border-radius: 20px;
    height: 30px;
    width: 100px;
   text-align: center;
   padding-top: 5px;
   text-decoration: none;
}

.bottom p {
    font-size: 20px;
}

.hi {
    position: absolute;
    left: 275px;
    top: 145px;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}

.box {
    width: 24%;
    padding: 5px;
}

.box a{
    color: rgb(0, 113, 133 );
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.box p {
    font-size: 12px;
    color: gray;
}

.box:hover {
    color: rgb(200, 122, 12);
}

.box img {
    width: 100%;
}

.boxNot {
    width: 24%;
    padding: 5px;
}



.boxNot p {
    font-size: 12px;
    color: gray;
}

.boxNot img {
    width: 100%;
}

