body {
    margin: 0;
}

p {
    color: green;
    background-color: pink;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    /* text-align: center; */
    /* letter-spacing: 5px; */
    padding-left: 10px;
    margin: 0;
}

div {
    /* border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 20px; */
    border: 2px black dashed;
    width: 200px;
    margin-left: 50px;
    margin-bottom: 10px;
    /* margin create space around the text */
    padding: 20px;
    /* padding push to the inside */
}

div p {
    background-color: lightblue;
}

/* span{
    text-decoration: underline;
} */

.highlight1 {
    text-decoration: underline;
}

.highlight2 {
    color: darkorange;
}

#specialParagragh {
    border: rgb(244, 200, 220) 4px solid;
}