body {
    margin: 0px;
}

.open {
    z-index: -1;
    width: 100%;
    height: 100vh;
}

.open img {
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.next {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
}

.next p {
    font-size: 40px;
    color: white;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
    filter: brightness(1.2);
    border: 1px solid white;
    border-radius: 10px;
    box-shadow:
        0 0 12px rgba(255, 255, 255, 0.9),
        inset 0 0 18px rgba(255, 255, 255, 0.6),
        0 12px 24px rgba(0, 0, 0, 0.18);
    padding: 10px;
    font-family: "Special Elite", system-ui;
}

.next a{
  text-decoration: none;
}

.hint1 {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
}

.hint1 p{
    font-size: 20px;
    color: white;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
    filter: brightness(1.2);
    font-family: 'Courier New', Courier, monospace;
}

.hint2 {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
}

.hint2 p{
    font-size: 20px;
    color: white;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
    filter: brightness(1.2);
    font-family: 'Courier New', Courier, monospace;
}