body {
    margin: 0;
    /* background: linear-gradient(rgb(178, 208, 178),white); */

}

.poem p{
    z-index: 10;
    position:fixed;
    top: 50%;
    left: 50%;
    margin: 0;
    font-family: "Indie Flower", cursive;
    font-size: 50px;
    color: rgb(44, 100, 80);

}

.canvas {
    height: 600vh;
    position: relative;
}

.reference {
    text-align: center;
    position: relative;
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom,
            rgb(178, 208, 178) 55%,
            white 100%);
    display: flex;
}

.reference img {
    width: 100%;
    height: 85%;
    opacity: 0.3;
    display: inline-block;
    margin: 0;
    padding: 0;
    z-index: 0;
}

.shall {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 30%;
    color: white;
    /* font-family: "Playwrite IE", cursive; */
    font-family: "Special Elite", system-ui;

    font-size: 30px;
    text-shadow: 3px 3px 8px rgba(255, 253, 253, 0.4);
    display: inline-block;
    width: 5px;
    white-space: nowrap;
    overflow: hidden;
    /* animation: increaseWidth 4s forwards steps(25, end); */
    z-index: 1;
}



.Shakespeare {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 40%;
    color: white;
    font-family: "Special Elite", system-ui;
    font-size: 30px;
    text-shadow: 3px 3px 8px rgba(255, 253, 253, 0.4);
    display: inline-block;
    width: 0px;
    white-space: nowrap;
    overflow: hidden;
    /* animation: increaseWidth 4s forwards steps(25, end);
    animation-delay: 4s; */
    z-index: 1;
}

.type {
    animation: increaseWidth 4s forwards steps(25, end);
}

.typeDelay {
    animation: increaseWidth 4s forwards steps(25, end);
    animation-delay: 4s;
}

@keyframes increaseWidth {
    from {
        width: 0px;
    }

    to {
        width: 650px;
    }
}

.move {
    position: relative;
    top: -200px;
    left: 100px;
}

.butterfly {
    height: auto;
    width: 100px;
    opacity: 0.5;
    animation: fly 20s linear 1 forwards;
}

@keyframes fly {
    0% {
        transform: translate(0px, -100px);
    }

    8% {
        transform: translate(80px, -40px);
    }

    15% {
        transform: translate(250px, -120px);
    }

    22% {
        transform: translate(500px, -300px);
    }

    30% {
        transform: translate(700px, -80px);
    }

    38% {
        transform: translate(900px, -180px);
    }

    45% {
        transform: translate(1100px, -40px);
    }

    50% {
        transform: translate(1200px, 0px);
    }


    58% {
        transform: translate(1050px, -200px);
    }

    66% {
        transform: translate(850px, -350px);
    }

    74% {
        transform: translate(650px, -450px);
    }

    82% {
        transform: translate(500px, -550px);
    }

    90% {
        transform: translate(350px, -600px);
    }

    96% {
        transform: translate(200px, -420px);
    }

    100% {
        transform: translate(100px, -300px);
    }
}

.heat {
    margin: 0;
    height: 200vh;
    background: linear-gradient(to bottom,
            white 60%,
            black 100%);
    font-family: "Special Elite", system-ui;
    font-size: 40px;
    position: relative;
    position: sticky;
    top: 0px;
}



.heatP {
    transition: filter 1s ease,transform 1s ease;
}

.wrapper{
    height: 1000vh;
    position: relative;
}

.seasons {
    background: black;
    height: 300vh;
    display: flex;
    /* align-items: center; */
    justify-content: center;
     position: relative;
    position: sticky;
    top: 0px;
}
.summer{
    width: 100%;
}
.summer img {
    width: 80%;
    transform-origin: center center;
}

.black1{
    /* border: 1px solid white; */
    height:200vh;
    width: 50%;
    left: 40%;
    z-index: 1;
    position: absolute;
    background-color: black;
    display: flex
}

.black2{
    /* border: 1px solid pink; */
    height: 100vh;
    width: 100%;
    top: 23%;
    z-index: 1;
    position: absolute;
    background-color: black;
    display: flex
}