body{
    margin: 0;
    background-color:darkseagreen
}

.enclosure{
    width: 100px;
    height: 100px;
    background-color: burlywood;
    position: absolute;
}

#giraffEnclosure{
    left: 20%;
    top: 20%;
}

#monkeyEnclosure{
    left: 40%;
    top: 80%;
    background-color: powderblue;
}

.monkey{
    position: absolute;
    top: 10px;
    left: 10px;
}

#snackEnclosure{
    left: 70%;
    top: 50%;
}