body {
    margin: 0px;
    /* overflow-x: hidden; */
}

.navBar1 {
    background-color: rgb(19, 25, 33);
    height: 60px;
    width: 100%;    
    /* width: 2000px */
min-width: 1000px;

}

.location {
    height: 60px;
}

.English {
    height: 55px;
    margin-right: 0px;
}

.navBar2 {
    background-color: rgb(35, 47, 62);
    height: 40px;
    margin-top: 0px;
    
}
.all{
    height: 38px;
    display: inline-block;
    vertical-align: middle;
}
.categories1 p{
    margin: 0px;
}
 .categories1{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    color:  rgb(255, 255, 255);
    font-size: 14px;
    display: inline-block;
 }
 .categories1 a {
    text-decoration: none;   
    color: white;
}
.categories1 :hover{
    color: rgb(255, 242, 0);
}
.categories2 p{
    margin: 0px;
}
 .categories2 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    color:  rgb(255, 255, 255);
    font-size: 14px;
    display: inline-block;
 }
.categories2 a {
    text-decoration: none;   
    color: white;
}
.categories2 :hover{
    color: rgb(255, 242, 0);
}

.headerWrapper{
    display: flex;
    justify-content: space-between;
}

#searchBar{
    /* outline: 1px yellow solid; */
    display: inline-block;
    /* width:500px; */
    width: 50%;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

#searchBar div{
    /* outline:1px rgb(255, 4, 0) solid; */
    display: inline-block;
    /* margin: 0px; */
    margin-top: 10px;
    height: 36px;

}
.searchDropdown{
    width: 50px;
    color: rgb(91, 89, 89);
    vertical-align: top;
    background-color: rgb(208, 210, 213);
    height: 40px;
    margin: 0;
    
}
.searchDropdown p{
    margin-left: 10px;
}
/* .drop p{
    padding-right: 0;
} */

.searchInput{
    /* width: calc(100% - 120px); */
    width: 100%;
    vertical-align: top;
    /* padding-top: 10px; */
    padding-left: 0px;
    padding-right: 0px;
}
.searchInput input{
    /* width: 95%; */
    width: 100%;

    height: 30px;
    font-size: 14px;
}
.searchSubmit{
    width: 50px;
    margin: 0;
}
.browser{
    /* padding-top: 10px; */
    height: 38px;
}

