
.punch{
    width: 200px;
    background-color: paleturquoise;
    /* margin-left: 45px; */
}

.punchWrapper{
    border: 1px dashed black;
    width: 25%; 
    /* thinking in percentage will help everything look great in every screen */
    margin-bottom: 30px;
    /* margin-left: 10px; */
    /* padding: 5px; */
    /* spam is an inline element, we can not change it  */
    /* margin: auto; */
    /* display: inline-block; */
}
.punchWrapper:nth-child(even){
    border: red;
}
.punchWrapper:hover{
    border: 4px solid blue;
}